@use 'variables' as *;
@use 'mixins' as *;

// ============================================
// Why GTG Section - Mobile First
// ============================================

.why {
  position: relative;
  padding: 40px 0;
  background-color: $white;
  animation: fadeIn 0.8s ease-out;
  
  @include sm-tablet {
    padding: 60px 0;
  }
  
  @include md-tablet {
    padding: 69.75px 0 104.28px;
  }
  
  &__container {
    margin: 0 auto;
    padding: 0 $container-padding-xs;
    @include sm-tablet{
      max-width: $container-max-width-md;
      padding: 0 $container-padding-sm;
    }

    @include md-tablet{
      padding: 0 $container-padding;
    }

    @include xl-desktop{
      max-width: $container-max-width;
    }
  }
  
  &__dash {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: $font-secondary;
    text-align: center;
    margin-bottom: 15px;
    @include sm-tablet{
      margin-bottom: 39px;
    }
  }
  
  &__title {
    @include heading-style;
    font-size: 1.5rem;
    color: $dark-green-1;
    margin-bottom: 25px;
    text-align: center;
    
    @include sm-tablet {
      font-size: 1.75rem;
      margin-bottom: 30px;
    }
    
    @include md-tablet {
      font-size: 2rem;
      margin-bottom: 57px;
    }
  }
  
  // Table Wrapper for horizontal scroll on mobile
  &__table-wrapper {
    overflow-x: auto;
    margin: 0 -15px 30px;
    padding: 0 15px;
    
    @include sm-tablet {
      margin: 0 0 83px;
      padding: 0;
    }
  }
  
  // Comparison Table
  &__table {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
    max-width: 950px;
    margin: 0 auto;

    th, td {
      padding: 12px 8px;
      text-align: center;
      vertical-align: middle;
      border-bottom: 1px solid $gray-medium;
      
      @include sm-tablet {
        padding: 12.3px 14.77px;
      }
      &:first-child {
        text-align: left;
      }
    }
    th{
      &:last-child{
        padding-left: 0;
        padding-right: 0;
        width: 100px;
      }
      &.why__table-cell--gtg{
        &::after{
          border-radius: $border-radius-lg $border-radius-lg 0 0;
        }
      }
    }
    tr{
      &:last-child{
        td{
          &.why__table-cell--gtg{
            &::after{
              border-radius: 0 0 $border-radius-lg $border-radius-lg;
            }
          }
        }
      }
    }
  }
  
  &__table-header {
    font-weight: 400;
    font-size: 0.85rem;
    color: $gray-dark;
    padding-bottom: 20px !important;
    
    &--label {
      text-align: left;
      font-weight: 700;
      color: $charcoal;
      font-size: 1rem;
      line-height: 1.2;
    }

    span{
      font-size: 0.75rem;
      line-height: 1;
      font-weight: 300;
      color: $gray-medium;
    }
    
    &--gtg {
      .why__brand-card--gtg{
        margin-bottom: 7px;
        @include sm-tablet {
          width: 88px;
          height: 87px;
        }
      }
      span {
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1.2;
        color: $black;
        margin-top: 7px;
      }
    }
  }
  
  &__brand-card {
    width: 50px;
    height: 50px;
    border-radius: $border-radius-xl;
    overflow: hidden;
    margin: 0 auto 24.42px;
    background-color: #f5f5f5;
    
    @include sm-tablet {
      width: 100px;
      height: 88px;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    &--gtg {
      img {
        object-fit: contain;
        padding: 5px;
      }
    }
  }
  
  &__table-label {
    text-align: left;
    font-weight: 700;
    font-size: 0.8rem;
    color: $gray-medium;
    white-space: nowrap;
    
    @include sm-tablet {
      font-size: 1rem;
      white-space: normal;
    }
  }
  
  &__table-cell {
    font-size: 1rem;
    font-weight: 300;
    color: $gray-medium;
    &--gtg{
      position: relative;
      border-bottom-style: dashed !important;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($bright-green, 0.05);
      }
      .why__icon{
        background-color: $dark-green-1;
        svg{
          path{
            stroke: $gray-light-2;
          }
        }
      }
    }
  }
  
  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 27.8px;
    height: 27.8px;
    border-radius: 50%;
    border: 1px solid $charcoal;
    transition: all $transition-fast;
    animation: scaleIn 0.4s ease-out;
    
    &:hover {
      transform: scale(1.1);
    }
  }
  
  &__cta {
    text-align: center;
    
    .btn {
      padding: 12px 24.5px;
      border-radius: 30px;
      font-size: 1rem;
      @include mobile{
        font-size: 1.25rem;
      }
    }
  }
}
